
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  haeder{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-itens: center;
      
  }
  
  body{
    background-color:gray;
    background-size:auto: 100vh;
    font-family:Arial;
    height: 100hv;
    font-size:12px
  }
  
  .menu{
    background-color: white;
    position:fixed;
    width:100vw;
    top:0;
      
  }
  
  .menu ul{
    display:flex;
    justify-content:space-around;
  }
  
  .menu li {
    list-style:none;
  }
  
  .menu a {
    color:black;
    display:block;
    padding:10px 20px;
    background:white;
  }
  
  a{
    text-decoration:none;
  }
  
  a:hover{
    text-decoration:underline
  }
  .site-title{
    text-align: center;
    color: whitesmoke;
    padding:100px;
    font-size: 3em;
  }
  
  .site-subtitle{
    text-align:center;
    color:whitesmoke;
    font-style:italic;
    padding:0px;
  }
  /*se a tela tiver pelo menos 400px vai carregar estes estilos*/
  @media(min-width:400px) {
    body{
      font-size:14px;
    }
  }
  
  /*breakpoint*/
  
  @media(min-width:600px) {
    body{
      font-size:18px;
    }
  }
  
  @media(min-width:1200px) {
    body{
      font-size:20px;
    }
  }
  
  .img-portfolio{
    height:180px;
    width:180px;
  }